<div class="p-3">
  <img
    [src]="recipe.imgPath"
    class="h-[400px] w-full object-cover object-center"
    alt=""
  />
  <h2>{{ recipe.name }}</h2>
  <ul>
    <li class="relative">
      <button
        type="button"
        class="my-1 rounded bg-blue-600 p-2 text-white"
        (click)="toggleManage()"
      >
        Manage
      </button>
      <ul
        *ngIf="manage"
        class="absolute -bottom-24 left-0 space-y-1 rounded bg-white px-4 py-1"
      >
        <li (click)="toggleManage()" class="cursor-pointer">
          to shopping list
        </li>
        <li (click)="toggleManage()" class="cursor-pointer">edit recipe</li>
        <li (click)="toggleManage()" class="cursor-pointer">delete recipe</li>
      </ul>
    </li>
  </ul>
  <p>{{ recipe.description }}</p>
  <p>Ingredients</p>
</div>
