<header class="bg-slate-100">
  <div class="my-0 mx-auto flex max-w-7xl items-center justify-between p-3">
    <div class="left flex items-center gap-5">
      <h1 class="text text-3xl">Brand Logo</h1>
      <nav>
        <ul class="flex gap-3">
          <li>
            <a
              class="text-lg"
              [ngClass]="{
                'text-gray-900': toggle === 'recipe',
                'text-gray-500': toggle !== 'recipe'
              }"
              (click)="onSelect('recipe')"
              href="#"
              >Recipe</a
            >
          </li>
          <li>
            <a
              class="text-lg"
              (click)="onSelect('shopping')"
              [ngClass]="{
                'text-gray-900': toggle === 'shopping',
                'text-gray-500': toggle !== 'shopping'
              }"
              href="#"
              >Shopping</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="right">
      <ul>
        <li class="relative">
          <button type="button" (click)="toggleManage()">Manage</button>
          <ul
            *ngIf="manage"
            class="absolute -bottom-24 -left-2 space-y-1 rounded bg-white px-4 py-1"
          >
            <li (click)="toggleManage()" class="cursor-pointer">item1</li>
            <li (click)="toggleManage()" class="cursor-pointer">item2</li>
            <li (click)="toggleManage()" class="cursor-pointer">item3</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
