<div class="my-2 p-2">
  <button class="rounded bg-blue-500 p-2 text-white">New Recipe</button>
</div>
<div class="grid grid-cols-recipe gap-1">
  <div class="col-span-full flex flex-col gap-2 p-4 md:col-span-5">
    <app-list
      *ngFor="let recipe of recipes; let i = index"
      [index]="i"
      [recipe]="recipe"
      (emitIndex)="onRecipeChange($event)"
    ></app-list>
  </div>
  <div class="h-full w-[1px] bg-gray-500"></div>
  <app-detail class="col-span-full md:col-span-6" [recipe]="recipeDetail">
  </app-detail>
</div>
